{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="features" id="features">
    <h2 class="titleMain">features</h2>
    <div class="container">
      <div class="box quality">
        <div class="image">
          <img src="{% static 'img\Paying.jpg' %}" alt="not found">
        </div>
        <h3>Staduim Tickets</h3>
        <p>You can pay for staduim tickets from here</p>
        <a href="{% if user.is_authenticated %}{% url 'pay_ticket' %}{% else %}{% url 'login' %}{% endif %}">Pay</a>
    </div>
      <div class="box time">
        <div class="image">
          <img decoding="async" src="{% static 'img\Paying.jpg' %}" alt="not found">
        </div>
        <h3>Company Bills</h3>
        <p>You can pay for company bills from here</p>
        <a href="#">Pay</a>
      </div>
      <div class="box passion">
        <div class="image">
          <img decoding="async" src="{% static 'img\Paying.jpg' %}" alt="not found">
        </div>
        <h3>Transaction</h3>
        <p>You can send or recive money from here</p>
        <a href="#">Transate</a>
      </div>
    </div>
{% endblock %}